form {
	padding-left: 10px;
	padding-right: 30px;
}

.required { color: red;
}

.label { font-weight: bold;
}

.additional { color: #006699;
}

.prompt { font-size: 0.7em;
}

.fields { display: inline-block;
}

/* Error message styling */
div.error {
	display: block;
	border: 1px solid #F9B9B2;
	background-color: #FFDFDF;
	color: #800000;
	padding: 10px;
}

div.errorMessage {
	color: #FF0000;
	font-size: small;
}

